before_action :current_user

<h1>Add a comment</h1>

<%= form_with(model: [@post, @comment], url: user_post_comments_path(current_user, @post), class: "form") do |form| %>
  <%= form.label :text %>
  <%= form.text_area :text %>
  <%= form.submit 'Create Comment' %>
<% end %>
