<%= stylesheet_link_tag "postindex" %>

<div class='page'>
  <div class='user'>
    <div class='photo'>
      <%= image_tag "user.jpeg", height: 200 %>
    </div>
    <div class='userinfo'>
      <h2 class='username'>Assem Zhorabay</h2>
      <h4 class='postnumber'>Number of posts: 5</h4>
    </div>
  </div>
  <ul class='postlist'>
    <li class='post'>
      <h3 class='order'>Post 1</h3></br>
      <p class='posttext'>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you have not found it yet, keep looking. Do not settle. As with all matters of the heart, you will know when you find it.</p>
      <p class='comments'>Comments: 2, Likes: 105</p>
    </li>
    <li class='comment-list'>Amina: Very interesting post! </br> Nurkhan: Excellent!</li></br>
    <li class='post'>
      <h3 class='order'>Post 2</h3></br>
      <p class='posttext'>Watch your thoughts; they become words. Watch your words; they become actions. Watch your actions; they become habits. Watch your habits; they become character. Watch your character; it becomes your destiny.</p>
      <p class='comments'>Comments: 2, Likes: 205</p>
    </li>
    <li class='comment-list'>Amina: Thank you for sharing with us! </br> Nurkhan: Nice!</li>
  </ul>
</div>
<button type='button' class='button'>Pagination</button>
