<%= stylesheet_link_tag "postshow" %>

<div class='open-post-flex'>
  <div class='open-post'>
    <h3>Post 1 by Assem Zhorabay</h3>
    <p class='amount'>Comments: 2, Likes: 105</p>
    <p class='text'>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you have not found it yet, keep looking. Do not settle. As with all matters of the heart, you will know when you find it.</p>
  </div>
  <div class='open-comment'>Amina: Very interesting post! </br> Nurkhan: Excellent!</div>
</div>
