<%= stylesheet_link_tag "userindex" %>

<ul class='cardlist'>
  <li class='card'>
    <div class='photo'>
      <%= image_tag "user.jpeg", height: 200 %>
    </div>
    <div class='userinfo'>
      <h2 class='username'>Assem Zhorabay</h2>
      <h3 class='postnumber'>Number of posts: 5</h3>
    </div>
  </li>
  <li class='card'>
    <div class='photo'>
      <%= image_tag "user.jpeg", height: 200 %>
    </div>
    <div class='userinfo'>
      <h2 class='username'>Amina Yerekeshov</h2>
      <h3 class='postnumber'>Number of posts: 8</h3>
    </div>
  </li>
  <li class='card'>
    <div class='photo'>
      <%= image_tag "user.jpeg", height: 200 %>
    </div>
    <div class='userinfo'>
      <h2 class='username'>Nurkhan Yerekeshov</h2>
      <h3 class='postnumber'>Number of posts: 7</h3>
    </div>
  </li>
</ul>
