.add-position {
  position: absolute;
  inset: 45%;
  translate: -50% -50%;
}

.area {
  margin: 12px 0;
}

.create-btn {
  padding: 6px 9px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: 1px solid;
  border-radius: 8px;
}
