* {
  margin: 0;
  padding: 0;
}

.open-post-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  margin: 40px auto;
}

.open-post,
.open-comment {
  border: 1px solid black;
  text-decoration: none;
  padding: 20px;
}

.amount {
  text-align: right;
  padding: 10px;
  padding-right: 20px;
}

.post-actions {
  display: flex;
  gap: 15px;
}

.like-btn,
.cmnt-btn {
  color: white;
  background-color: black;
  border: 1px solid;
  border-radius: 6px;
  padding: 6px 9px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}

.text {
  font-size: 18px;
}

.open-post h3 {
  font-size: 21px;
}

.delete-post,
.delete-cmnt {
  text-decoration: none;
  font-style: italic;
  color: gray;
  cursor: pointer;
  font-size: 15px;
  padding-left: 10px;
}
